{% extends "base.html.twig" %}
{% block header %}
<input type="search" name="search" placeholder="Search.." class="animated-search-form">
{% endblock%}
{%block body%}
{%for Producto in Productos %}
<article class="grid-container">
<div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
<div class="cell">
<img class="thumbnail" src="https://placehold.it/500x600">
<h5>{{Producto.nombre}}</h5>
<p>{{Producto.precio}}</p>
<a href="#" class="button expanded">Buy</a>
</div>
</article>
	{%endfor%}
{%endblock%}